env {
  execution.parallelism = 1
  job.mode = "STREAMING"
}

source {
  MySQL-CDC {
    result_table_name = "pf_sec_user"
    parallelism = 1
    username = root
    password = mymymypwd
    database-names = ["usercenter"]
    table-names = ["usercenter.pf_sec_user"]
    base-url = "jdbc:mysql://localhost:3306/usercenter"
    server-time-zone = "Asia/Shanghai"
    startup.mode = "latest"
    connection.pool.size = 1
    debezium {
        snapshot.mode = "never"
        max.queue.size = 4096
        max.batch.size = 2048
    }
  }
}

transform {
  Sql {
    source_table_name = ["pf_sec_user"]
    result_table_name = "t_user"
    query = """
        SELECT
          USER_ID as user_uuid,
          USERNAME as user_name,
          PASSWORD as password,
          NICKNAME as real_name,
          18 as age,
          1 as role,
          1 as user_level,
          1 as status,
          'false' as deleted, 
          CREATE_TIME as create_time,
          UPDATE_TIME as modify_time
        FROM pf_sec_user
    """
  }
}

sink {
  Jdbc {
    source_table_name = ["t_user"]
    driver = "com.mysql.cj.jdbc.Driver"
    url = "jdbc:mysql://localhost:3306/my_xzs?useUnicode=true&characterEncoding=UTF-8&serverTimezone=Asia/Shanghai&nullCatalogMeansCurrent=true&rewriteBatchedStatements=true"
    user = root
    password = mymymypwd
    generate_sink_sql = true
    database = my_xzs
    table = "t_user"
    primary_keys = ["user_id"]
    max_retries = 3
  }
}