env {
  execution.parallelism = 1
  job.mode = "STREAMING"
}

source {
  MySQL-CDC {
    result_table_name = "pf_sec_user"
    parallelism = 1
    username = ${USERCENTER_USER}
    password = ${USERCENTER_PASSWORD}
    database-names = [${USERCENTER_DATABASE}]
    table-names = [${USERCENTER_DATABASE}".pf_sec_user"]
    base-url = "jdbc:mysql://"${USERCENTER_HOST}":"${USERCENTER_PORT}"/"${USERCENTER_DATABASE}"?nullCatalogMeansCurrent=true"
    server-time-zone = "Asia/Shanghai"
    startup.mode = "latest"
    connection.pool.size = ${USERCENTER_CDC_CONNECTION_POOL_SIZE}
    debezium {
        snapshot.mode = "never"
        max.queue.size = 4096
        max.batch.size = 2048
        skipped.operations=${SKIP_OPERATIONS}
    }
  }
}

transform {
  Sql {
    source_table_name = ["pf_sec_user"]
    result_table_name = "t_user"
    query = """
        SELECT
          USER_ID as user_uuid,
          USERNAME as user_name,
          PASSWORD as password,
          NICKNAME as real_name,
          18 as age,
          1 as role,
          1 as user_level,
          1 as status,
          0 as deleted, 
          CREATE_TIME as create_time,
          UPDATE_TIME as modify_time
        FROM pf_sec_user
    """
  }
}

sink {
  Jdbc {
    source_table_name = ["t_user"]
    driver = "com.mysql.cj.jdbc.Driver"
    url = "jdbc:mysql://"${XZS_HOST}":"${XZS_PORT}"/"${XZS_DATABASE}"?useUnicode=true&characterEncoding=UTF-8&serverTimezone=Asia/Shanghai&nullCatalogMeansCurrent=true&rewriteBatchedStatements=true"
    user = ${XZS_USER}
    password = ${XZS_PASSWORD}
    # generate_sink_sql = true
    # 换成线上的数据库
    query="""
    INSERT INTO `my_xzs`.`t_user` (`user_uuid`, `user_name`, `password`, `real_name`, `age`, `role`, `user_level`, `status`,`deleted`, `create_time`, `modify_time`)
    VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
    ON DUPLICATE KEY UPDATE `user_name`=VALUES(`user_name`)
    """
    database = ${XZS_DATABASE}
    table = "t_user"
    primary_keys = ["user_name"]
    max_retries = 3
  }
}